header {
    background-color: #2474e5;
}

.banner > img {
    height: 480px;
    object-fit: cover;
}

.search__active {
    color: #2474e5 !important;
    font-size: 16px;
    font-weight: 700 !important;
    border-bottom: 2px solid #2474e5;
}

.search__active > .icon-search {
    fill: #2474e5 !important;
}

.search .place {
    border: 1px solid #e0e0e0;
}

.search .place > div {
    border-left: 1px solid;
    border-left-color: #e0e0e0;
}

.search .place > div:first-child {
    border-left: none;
}

.search button {
    background-color: #ffd333;
}

.banner .pod {
    background-color: rgba(0, 0, 0, 0.5);
}

footer .footer__content,
.content {
    width: 980px;
}

.color-brown {
    background-color: #9e947c;
}

.color-purple {
    background-color: #585279;
}

.color-red {
    background-color: #c6324e;
}

.color-blue {
    background-color: #4c6c8c;
}

.color-rgba {
    background-color: rgba(132, 131, 131, 0.5);
}
